*.db
*.suo
*.db-shm
*.db-wal
*.ipch
*.user
*.filters
*.vcxproj
*.sdf
*.opensdf
*.tlog
*.rc
*.log
*.lastbuildstate
*.res
*.manifest
*.pdb
*.idb
*.obj
*.ilk
*.exe
*.tmp
*.sln
*.cache
*.unsuccessfulbuild
*.enc
*.rar
*.opendb
*.lock
*.zip
*.prefs
*.xml
*.setup
*.rss
*.index
POJ/Semestr02/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.xmi
*.launch
*.json
*.tree
*.version
*.ini
POJ/Semestr02/.metadata/.mylyn/.taskListIndex/segments_1
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/e5/4015ea8dbc3600181525aed992470163
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/d8/e0360075bc3600181525aed992470163
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/c0/b02d9beabc3600181525aed992470163
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/b/f05c9a4264370018132cf7c07e0e88d9
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/8c/a043304864370018132cf7c07e0e88d9
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/6f/f0d650c9bc3600181525aed992470163
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/50/20bb87ef63370018132cf7c07e0e88d9
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/42/7017505abc3600181525aed992470163
POJ/Semestr02/.metadata/.plugins/org.eclipse.core.resources/.history/25/9036d84e64370018132cf7c07e0e88d9
POJ/Semestr02/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
POJ/Semestr02/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
POJ/Semestr02/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
POJ/Semestr02/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
POJ/Semestr02/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
*.history
*.gen
*.tis
*.tii
*.prx
*.nrm
*.frq
*.fnm
*.fdx
*.fdt
*.project
*.classpath
POJ/Semestr02/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_1
*.properties
*.dat
*.txt
*.resources
POJ/Semestr02/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
POJ/Semestr02/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
POJ/Semestr02/.metadata/.plugins/org.eclipse.ui.intro/introstate
POJ/Semestr02/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.class
*.png
*.cfs
POJ/Semestr02/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_4
POJ/Semestr02/.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/LoanApp/segments_1d
POJ/Semestr02/.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/LoanApp/segments_2p
POJ/Semestr02/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_5
POJ/Semestr02/.metadata/.plugins/org.eclipse.recommenders.types.rcp/indexes/HFOOA/segments_1d
POJ/Semestr02/.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/segments_7